*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cor-body{
    background-color: #F0F0E8;
}

.text-center{
    text-align: center;
}

.cor-content{
    background-color: #FCFCFA;
}

.container-head{
    border: 1px solid black;
    width: 50%;
    margin: 20px auto;
}

.container-center{
    border: 1px solid black;
    width: 50%;
    /*Teste de posicionamento - REMOVER ANTES DA ENTREGA*/
    height: 800px;
    margin: 20px auto;
}


