/*-------------------------------------------------------------*/
/* Resetando margin e padding do navegador */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------------------------------------------------------*/

/* Definindo algumas estilizações globais */

.cor-body{
    background-color: #c0c07560;
    color: rgb(255, 255, 255);
}

.text-center{
    text-align: center;
}

.cor-content{
    background-color: #000000da;
}

/*-------------------------------------------------------------*/

/* Estilizando cabeçalho e barra de navegação */

.container-head{
    background-color: #FCFCFA;
    border: 1px solid black;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}

.logo-element{
    color: rgb(255, 255, 255);
    background-color: rgba(15, 15, 172, 0.671);
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    position: relative;
    color: #000;
    margin: 0 15px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #000;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 100%;
}

/*-------------------------------------------------------------*/

/* Estilizando container das sections */

section{
    margin-bottom: 150px;
}

.container-center{
    border: 1px solid black;
    width: 60%;
    /*Teste de posicionamento - REMOVER ANTES DA ENTREGA*/
    height: auto;
    margin: 20px auto;
}

/*-------------------------------------------------------------*/

/* Estilizando dados da primeira section */

.card-primario{
    position: relative;
    margin: 30px auto;
    /*border: 4px solid white;*/
    width: 80%;
    /*background-color: rgb(100, 110, 112);*/
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.img-perfil{
    margin: 10px auto;
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-perfil img{
    border-radius: 15px;
}

#title{
    font-size: 25px;
}

.card-description{
    text-align: center;
}

.info{
    margin: 5px;
}

.info .dado{
    padding: 8px;
}

.info .link-contact{
    text-decoration: none;
    color: white;
}

.info .email{
    margin-top: 30px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 42, 109, 0.486);
}

.info .email img{
    filter: invert(100%);
}

.info .email:hover{
    background-color: rgba(59, 59, 122, 0.486);
}

.info .email .link-text{
    margin-left: 10px;
    text-decoration: none;
}

.info .tel{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 42, 109, 0.486);
}

.info .tel img{
    filter: invert(100%);
}

.info .tel:hover{
    background-color: rgba(59, 59, 122, 0.486);
}


.info .tel .link-text{
    margin-left: 10px;
}

.content-resume{
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
}

.content-resume p{
    margin-top: 10px;
}

.content-resume .video-prof{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


/*-------------------------------------------------------------*/